#syspower {
	  background: rgba(0, 0, 0, 0.75);
}
#syspower .primary_window {
}

#syspower .empty_window {
}

#syspower .box_layout {
}

#syspower .label_status {
}

#syspower .box_buttons {
 
}

#syspower .progressbar_status {
}

#syspower .button_shutdown {
    background: rgba(0, 0, 0, 0.75);
    border-color: rgba(0, 0, 0, 0.75);
}
#syspower .button_reboot {
    background: rgba(0, 0, 0, 0.75);
    border-color: rgba(0, 0, 0, 0.75);
}
#syspower .button_logout {
    background: rgba(0, 0, 0, 0.75);
    border-color: rgba(0, 0, 0, 0.75);
}
#syspower .button_suspend {
    background: rgba(0, 0, 0, 0.75);
    border-color: rgba(0, 0, 0, 0.75);
}
#syspower .button_cancel {
    background: rgba(0, 0, 0, 0.75);
    border-color: rgba(0, 0, 0, 0.75);
}
